archive/*
backups/*
bin/webtest*
conf/*
models-custom/*
database
htdocs/reports/*
logs
var/*
database/*
models-hearst/*
test/*.rrd
test/*.csv
test/*.log
test/*.xml
test/*.png
test/*.nmis
.DS_Store
._.DS_Store
TAGS
