@charset "utf-8";
/* 	NMIS Front End
	Developed By James Greenwood
	V0.1
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #c6c5c5;
}
#back {
	background-color: #FFF;
	position:fixed;
	top:30px;
	left:30px;
	width: 985px;
	height: 772px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#title_bar {
	position:fixed;
	color: #FFF;
	background-color: #FFF;
	background-image: url(images/top_bar.jpg);
	background-repeat: no-repeat;
	width: 968px;
	height: 58px;
	text-align:Right;
 left:8px  right:8px;
}
#side {
	-moz-border-radius: 8px;
	border-radius: 8px;
	position:fixed;
	background-color: #e0e0e0;
	width: 160px;
	height: 660px;
	font-size:10pt;
	color: #3d3938;
	float:left;
	top:100px;
	padding-left:5px;
	margin-top:10px;
	margin-left:5px;
}
#side.header {
	color: #ffffff;
	background-color: #595a59;
	height:15px;
}
#data {
	padding-left:190px;
	padding-top: 80px;
	width: 780px;
	height: 700px;
}
#widget {
	-moz-border-radius: 8px;
	border-radius: 8px;
	height:213px;
	margin-bottom:10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f4), to(#fff));
}
#widget.header{
	background-color: #595a59;
}

