@import url("style.css");
/* CSS Document */

body{
font-family: Helvetica, sans-serif;

padding:0px;
margin:0px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:200px;
padding:5px;
margin-bottom:4px;

}
#stylized h1 {
font-size:18px;
font-weight:bold;

}

#header{
	background-image:url(../menu/img/v8/header.jpg);
	background-repeat:no-repeat;
	background-color:#26475b;	
	color:#fff;
	height: 90px;
	float: left;

}
#logo{

	padding-top:20px;
	padding-left:10px;
	float:left;
}


#login{
	padding-top:10px;
	float:right;
}

#navbar{
padding-left:10px;
border-top:solid 2px #1778C8;
border-bottom:solid 1px #999;
}

#content{
	width:1005px;
	height:auto;
	margin-top:10px;
	padding-left:10px;
}

#boxleft
{float:left;
width:500px;
height:auto;
border:solid 1px #999;
}


#boxright
{
	float:right;
	width:500px;
	height:auto;
	border:solid 1px #999;
	
}
